.loader {
  position: relative;
  text-align: center;
  display: inline-block;
}

.loader::before {
   display:inline-block;
   content: '';
  margin-left: 5px;
  margin-top: -20px;
   position: absolute;
   border: 10px solid hsl(257, 27%, 26%);
   border-right-color: hsl(260, 8%, 14%);
   height: 30px;
   width: 30px;
   border-radius: 50000px;

   animation: rotate 1s linear infinite;
 }


@keyframes rotate{
  0% {
    transform: rotate(0);
  }

  100% {
  transform: rotate(360deg);
  }
}
