<section class="d-flex flex-column flex-xxl-row d-xxl-flex justify-content-xxl-between footer">
  <div class="mx-auto mx-xxl-4">
    <img class="footer_logo_image" src="assets/images/resources/logo.svg">
  </div>
  <div class="features_column mx-auto mx-xxl-4">
    <b class="col_title">Features</b>
    <p class="mt-4 hover_link">Link Shortening</p>
    <p class="hover_link">Branded Links</p>
    <p class="hover_link">Analytics</p>
  </div>
  <div class="resources_column mx-auto mx-xxl-4">
    <b>Resources</b>
    <p class="mt-4 hover_link">Blog</p>
    <p class="hover_link">Developers</p>
    <p class="hover_link">Support</p>
  </div>
  <div class="company_column">
    <b>Company</b>
    <p class="mt-4 hover_link">About</p>
    <p class="hover_link">Our Team</p>
    <p class="hover_link">Careers</p>
    <p class="hover_link">Contacts</p>
  </div>
  <div class="d-flex justify-content-between icon_column">
    <img class="media_icon" src="assets/images/resources/icon-facebook.svg">
    <img class="media_icon" src="assets/images/resources/icon-twitter.svg">
    <img class="media_icon" src="assets/images/resources/icon-pinterest.svg">
    <img class="media_icon" src="assets/images/resources/icon-instagram.svg">
  </div>
</section>
