.footer {
  background-color: hsl(260, 8%, 14%);
  min-height: 50vh;
  position: relative;
}
.footer_logo_image {
  font-weight: 700;
  padding: 60% 80%;
  color: white;
}
.media_icon {
  /*font-size: 5%;*/
  height: 10%;
  width: 17%;
}
.media_icon:hover {
  color: hsl(180, 66%, 70%);
  cursor: pointer;
}
.features_column {
  width: 40%;
  color: white;
  margin: 5% 5%;
  padding-left: 20%
}
.col_title {
  font-weight: 700;
  /*font-size: 20px;*/
}
.resources_column {
  color: white;
  margin: 5% 0%
}
.company_column {
  color: white;
  margin: 5% 7%;
}
.hover_link:hover {
  color: hsl(180, 66%, 70%);
  cursor: pointer;
}
.icon_column {
  width: 20%;
  margin: 5%;
  padding-right: 5%
}
@media (max-width: 375px) {
  .footer_logo_image {
    padding: 60% 2%;
  }
  .features_column {
    text-align: center;
    margin: 0% 0%;
    padding-left: 5%
  }
  .hover_link {
    font-weight: 300;
  }
  .resources_column {
    text-align: center;
    margin: 5% 0%
  }
  .company_column {
    text-align: center;
    margin: 5% 40%
  }
  .icon_column {
    width: 70%;
    padding-left: 20%;
  }
}
