.nav_div {
  margin: 0% 6%
}
.menu {
  /*display: inline-flex;*/
}
ul {
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: black;
}
.nav_item {
  margin: 4%;
  font-size: 18px;
}
.nav-link {
  opacity: 0.5;
  font-weight: 700;
}
.nav-link:hover {
  cursor: pointer;
  opacity: 0.8;
}
.nav_hr {
  content: attr(hr);
}
.login {
  font-size: 18px;
  margin-left: 45%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 60px;
}
.signUp {
  font-size: 18px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 60px;
}
.login:hover {
  background-color: hsl(180, 66%, 49%);
  color: white;
  opacity: 50%;
}
.signUp:hover {
  background-color: hsl(180, 66%, 49%);
  color: white;
  opacity: 50%;
}

@media (max-width: 375px) {
  .collapse {
    background-color: hsl(257, 27%, 26%);
    border-radius: 8px;
  }

  a, .btn {
    color: white !important;
  }
}
